<div class="card my-4">
    <h4 class="card-header">Login</h4>
    <div class="content-section">
        <%= simple_form_for :login_user, { url: '/login' } do |f| %>
            <%= f.input :username, placeholder: 'username' %>
            <%= f.input :password, placeholder: 'password' %>
            <%= link_to 'Forgot your password?', new_password_path %>
            <hr>
            <%= f.submit :Submit, class: 'btn btn-secondary' %>
        <% end %> 
    </div>
</div>
