<div class="card my-4">
    <h4 class="card-header"><%= page_title %></h4>
    <div class="content-section">
        <% if !@ideas.nil? %>
            <p class="card-text"><em>Results found for "<%= for_search %>":</em></p>
            <% @ideas.each do |idea| %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5><%= link_to idea.title.titlecase, idea, class: 'card-title' %></h5>
                        <p class="card-text"><%= truncate(idea.content, length: 128)  %></p>
                    </div>
                    <div class="card-footer text-muted">
                    Posted on <%= idea.created_at.strftime("%B %-d, %Y") %> by <b>@<%= User.find_by(id: idea.user_id).username %></b>
                    </div>
                </div>
            <% end %>
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <span>
                    <% if @page != 0 %>
                        <%= link_to 'Previous', search_ideas_path(search: @search, page: @page - 1), class: 'btn btn-secondary' %>
                    <% end %>
                </span>
                <span>
                    <% if !@max_page %>
                        <%= link_to 'Next', search_ideas_path(search: @search, page: @page + 1), class: 'btn btn-secondary' %>
                    <% end %>
                </span>
            </div>
        <% end %>
    </div>
</div>