<div class="content-section">
    <div class="card idea-metadata">
        <h3 class="card-title mr-2"><%= @idea.title %></h3>
        <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
        <small class="text-muted"><%= @idea.created_at %></small>
        <p class="card-text"><%= @idea.content %></p>
    </div>
    <div class="media-body">
        <%= link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-light' %>
        <%= link_to 'Delete', idea_path(@idea), 
        method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, 
        class: 'btn btn-danger' %>
    </div>
</div>