<div class="card my-4">
    <h4 class="card-header">Details</h4>
    
    <div class="content-section">
        <h2 class="card-title mr-2"><%= @idea.title.titlecase %></h2>
        <p class="lead">by @<b><%= User.find_by(id: @idea.user_id).username %></b></p>
        <hr>
        <p class="text-muted">Posted on <%= @idea.created_at.strftime('%B %-d, %Y at %l:%M %P') %></p>
        <hr>
        <p class="lead"><%= @idea.content %></p>
    </div>
    <% if @idea.user_id == session[:user_id] %>
        <div class="media-body">
            <%= link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-light' %>
            <%= link_to 'Delete', idea_path(@idea), 
            method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, 
            class: 'btn btn-danger' %>
        </div>
    <% end %>
    <svg class="bi bi-chevron-right" width="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/>
        <%= link_to idea_path(@idea), 
            method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, 
            class: 'btn' %>
    </svg>
</div>